
{% extends 'base.html.twig' %}
{% block title %}Ajouter Region{% endblock %}
{% block body %}
<center>
<div class="card border-success" style="max-width: 25rem;display: flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">
  <div class="card-header ">
  <center><h3 style="color:primary">add region</h3></center></div>
  <div class="card-body  py-4 mt-2 rounded">
    {{ form_start(form) }}<br>
{{ form_widget(form) }}<br>
 <button type="submit" class="btn btn-primary">Add</button>
{{ form_end(form) }}
  </div>
</div>
</center>
{% endblock %}




